{% extends 'main/authentication/formBase.html' %}


{% block body %}
    {# TODO: Actually do stuff here #}
    {# TODO: Ok, definitely have a history that has... ID, difficulty, maybe an image? Probably not; time taken to solve, date! definitely #}
    {# TODO: Also have logout button, maybe info about account at the bottom with options to change details #}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ex neque saepe! Assumenda at corporis dicta ducimus,
        eius error excepturi facere laudantium, libero numquam quasi sapiente, soluta totam ut vero.</p>
    {# TODO: Maybe put button in like upper right? Definitely have a navbar or something or like a black bar at least #}
        <a href="{% url 'main:logout' %}"><button class="btn btn-outline-light btn-lg px-5" type="submit">Logout</button></a>
{% endblock %}