{% extends 'main/authentication/formBase.html' %}
{% load static %}

{% block body %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                {% if loginFailed %}
                                    <h2 class="fw-bold mb-2 text-uppercase serverInvalidEntry">Login failed</h2>
                                {% endif %}
                                {% if loginFailed %}
                                    <h2 class="fw-bold mb-2 text-uppercase loginText d-none">Login</h2>
                                {% else %}
                                    <h2 class="fw-bold mb-2 text-uppercase loginText">Login</h2>
                                {% endif %}
                                <p class="py-2"></p>
                                <form action="{% url 'main:loginSubmit' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-outline form-white mb-4">
                                        <input type="text" name="email" id="email" class="form-control form-control-lg" placeholder="Email"/>
                                        <label class="form-label" for="email">Email</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password"/>
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>
                            </div>
                            <div>
                                <p class="mb-0">Don't have an account? <a href="{% url 'main:register' %}" class="text-white-50 fw-bold">Sign Up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scirpt %}
{% endblock %}