.fa {
    font-size: 1.5vw;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .fa {
        font-size: 8vw;
    }
}

.smallerText {
    font-size: 0.85em;
}

@media only screen
and (min-device-width : 800px)
and (max-device-width : 2000px) {
    .logoImage {
        padding-top: 20vh;
    }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.cell {
    height: calc((4vw + 4vh) / 2);
    width: calc((4vw + 4vh) / 2);
    margin: calc((0.3vw + 0.3vh) / 2);
    font-size: calc((3vw + 3vh) / 2);
    /*height: 3vw;*/
    /*width: 3vw;*/
}

.cell-clue {
    border: 1px solid black;
    height: calc((4vw + 4vh) / 2);
    width: calc((4vw + 4vh) / 2);
    margin: calc((0.3vw + 0.3vh) / 2);
    font-size: calc((3vw + 3vh) / 2);
    background-color: #CCC;
}

.invalidCell {
    border: 2px solid red;
}

a.black:link {
    color: black;
}

a.black:visited {
    color: black;
}

a.black:hover {
    color: black;
}

a.black:active {
    color: black;
}

.invalidEntry {
    color: red;
}

.serverInvalidEntry {
    color: red;
}

.username {
    font-size: 3vh;
}