.fa {
    font-size: 1.7em;
}

.smallerText {
    font-size: 0.85em;
}

@media only screen
and (min-device-width : 800px)
and (max-device-width : 2000px) {
    .logoImage {
        padding-top: 20vh;
    }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

#puzzleID a:link {
  color: black;
}

#puzzleID a:visited {
  color: black;
}

#puzzleID a:hover {
  color: black;
}

#puzzleID a:active {
  color: black;
}

.cell {
    height: calc((4.5vw + 4.5vh) / 2);
    width: calc((4.5vw + 4.5vh) / 2);
    margin: calc((0.3vw + 0.3vh) / 2);
    font-size: calc((3vw + 3vh) / 2);
    /*height: 3vw;*/
    /*width: 3vw;*/
}

.cell-clue {
    border: 1px solid black;
    height: calc((4.5vw + 4.5vh) / 2);
    width: calc((4.5vw + 4.5vh) / 2);
    margin: calc((0.3vw + 0.3vh) / 2);
    font-size: calc((3vw + 3vh) / 2);
    background-color: #CCC;
}

.invalidCell {
    border: 2px solid red;
}

a.black:link {
    color: black;
}

a.black:visited {
    color: black;
}

a.black:hover {
    color: black;
}

a.black:active {
    color: black;
}

.invalidEntry {
    color: red;
}

.victory {
    color: green;
}

.serverInvalidEntry {
    color: red;
}

.username {
    font-size: 1.7em;
}