.fa {
    font-size: 1.5vw;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .fa {
        font-size: 8vw;
    }
}

.smallerText {
    font-size: 0.85em;
}

@media only screen
and (min-device-width : 800px)
and (max-device-width : 2000px) {
    .logoImage {
        padding-top: 20vh;
    }
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}